.pos {
    width: 5px;
    margin-top: 20px;
    
}
h1 {
    color: #fff;
    font-size: 3.0em;
    margin-left: 550px;
    
}

h2 {
    color: #fff;
    font-size: 2.5em;
    margin-left: 90px;
    margin-top: 30px;
}


body {
    background: #8462CE;
    background: -moz-linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
    background: -webkit-linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
    background: linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
}

nav ul{
    display: flex;
    margin: 0;
    background: #8462CE;
    background: -moz-linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
    background: -webkit-linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
    background: linear-gradient(45deg, #8462CE 0%, #4A3567 29%, #070413 100%);
    list-style: none;
}

nav ul li{
    list-style: none;
    width: 100%;
    
}

nav ul a {
    list-style: none;
    
    color: #FFF;
    text-decoration:none;  

}

.video-container{
    display: block;
    height: 100vh;
    width: 100%;
    z-index: 50;
}

.video-container {

    width: 100vw;
    max-width: 100%;
    height: 50vh;
    overflow: hidden;
    box-sizing: border-box;
}
